<a href="https://colab.research.google.com/github/rehpenyljayjatico/CPE10_jatico/blob/main/CPE310_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Types

In [ ]:
value = 5

print(value)

5

In [ ]:
type(value)

int

In [ ]:
value = 5.0
type(value)

float

In [ ]:
print(type(2+3j))
print(type('Hello World'))
print(type("Hello World"))

# Boolean means true or false / 1 or 0
print(type(True))
print(type(False))

# Iterables -> Iterate inside
print(type([1, 2, 3, 4, 5, 6])) # lists can be changed
print(type((1, 2, 3, 4, 5 , 6))) # tuples cannot be changed
print(type({'name':'Roman Richard'}))
print(type(None))

value = 6
value2 = -7

<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

In [ ]:
value, value2 = 5.0, 6
print(value+value2)

11.0

In [ ]:
value, value2 = -5, 6.1
print(value+value2)

1.0999999999999996

In [ ]:
value, value2 = "Hello", 'world'
print(value + " " + value2)

Hello world

In [ ]:
value, value2 = [1, 2, 3], [4, 5, 6]
print(value+value2)

[1, 2, 3, 4, 5, 6]

In [ ]:
value, value2 = (1, 2, 3), (4, 5, 6)
print(value+value2)

(1, 2, 3, 4, 5, 6)

In [ ]:
value, value2 = {'name':'jatico'}, {'age':19}
print(value+value2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
value, value2 = 30, 4

print(value*value2)
print(value2**2)
print(value2**3)
print(value * value2 + value2**2 + 1)
print(value/value2)
print(value%value2)

120
16
64
137
7.5
2

In [ ]:
input("what is Youre Name?:")
print(name)

what is Youre Name?:rehpenyl
rehp

In [ ]:
# Procedure
name = input("Enter youre Name: ")
weight = float(input("Enter youre weight(kg): "))
height = float(input("Enter youre height(m): "))

bmi = input(weight / height**2)

Enter youre Name: rehpenyl
Enter youre weight(kg): 62
Enter youre height(m): 1.70
21.45328719723183800

In [ ]:
value1, value2 = -5, 6.1
print(value1, value2)

-5 6.1

# supplementary