<a href="https://colab.research.google.com/github/rehpenyljayjatico/CPE10_jatico/blob/main/CPE310%20HOA%20control%20structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Rehpenyl jay jatico
IE22s1

In [3]:
a = 10
b = 5

if a > b:
  print(f"{a} is greater than {b}.")

10 is greater than 5.

In [4]:
if a > b:
  print(f"{a} is greater than {b}.")
elif b > a:
  print(f"{b} is greater than {a}.")
else:
  print(f"{a} is not less than or greater than {b}.")

10 is greater than 5.

In [7]:
a = int(input("A: "))
b = int(input("B: "))
c = int(input("C: "))

if a > b:
  if a > c:
    print(f"A({a}) i s the largest value.")
elif b > a:
  print(f"{b} is the largest value.")
else:
  print(f"{a} is not the largest value.")

A: 1
B: 2
C: 3
2 is the largest value.

In [9]:
for i in range(0, 11):
  print(i+1)
  i += 1

1
2
3
4
5
6
7
8
9
10
11

In [35]:
students = ["malite", "marasigan","jatico"]
print(len(students))

for i in range(len(students)):
  if students[i] == "jatico":
    break
    print(students[i])

for i in range(len(students)):
  if students[i] == "malite":
    continue
  print(students[i])

3
marasigan
jatico

In [23]:
for i in students:
  print(i)

malite
jatico
marasigan

In [38]:
print(list(range(len(students))))

[0, 1, 2]

In [58]:
number = int(input("Enter your number --> "))
n = int(input("Test divisibility by --> "))

i = number%n

if i != 0:
    print ("The number ",number," is not divisible by ",n,"\n")

Enter your number --> 10
Test divisibility by --> 2

In [59]:
hidden = "Mypasscode"
password = input("Enter your password: ")

if password == hidden:
    print(input("You entered the right password\n"))
else:
    print(input("wrong password\n"))

Enter your password: qwerty12345
wrong password
qwerty12245
qwerty12245

In [62]:
names = ["marasigan", "kurt", "jatico"]
j = 0
for name in names:
    j += 1
    print("The name number", j, "in the list is", name)

The name number 1 in the list is marasigan
The name number 2 in the list is kurt
The name number 3 in the list is jatico

In [124]:
N = int(input("Enter the last integer considered --> "))
Sum = 0
for i in range(0, N+1, 1):
    Sum += i**2
print ("The sum of the squares between 0 and", N, "is", Sum)

Enter the last integer considered --> 12
The sum of the squares between 0 and 12 is 650

In [127]:
N = int(input("Enter N --> "))
print("Counting numbers from 0 to", N, "\n")

i = 0
while i < N+1:
  print(i, "\n")
  i += 1

Enter N --> 5
Counting numbers from 0 to 5

0

1

2

3

4

5

In [125]:
N = int(
  input("Enter N --> "))
for i in range(0, N+1, 1):
    if i**2 == N:
        break
    else:
        if i % 5 == 0:
            continue
        print(i, "\n")

Enter N --> 5
1

2

3

4

## Splementary